In [11]:
import findspark
findspark.init("/opt/homebrew/opt/apache-spark/libexec/")

In [12]:
#pysparkに必要なライブラリを読み込む
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [13]:
#pysparkに必要なライブラリを読み込む

from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession

#spark sessionの作成
# spark.ui.enabled trueとするとSparkのGUI画面を確認することができます
# spark.eventLog.enabled true　とすると　GUIで実行ログを確認することができます
# GUIなどの確認は最後のセクションで説明を行います。
spark = SparkSession.builder \
    .appName("chapter1") \
    .config("hive.exec.dynamic.partition", "true") \
    .config("hive.exec.dynamic.partition.mode", "nonstrict") \
    .config("spark.sql.session.timeZone", "JST") \
    .config("spark.ui.enabled","true") \
    .config("spark.eventLog.enabled","true") \
    .enableHiveSupport() \
    .getOrCreate()

spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|jinko_avg|      false|
+---------+---------+-----------+

In [53]:
df = spark.read.option("multiLine","true").option("encoding","SJIS").csv("/Users/isomasaki/pyspark_batch/dataset/jinko.csv",header=True,sep=",",inferSchema=False)
df.count()

982

In [15]:
df.show(truncate=False)

+--------------+----------+----+----------+----------+----+------------+----------+----------+
|都道府県コード|都道府県名|元号|和暦（年）|西暦（年）|注  |人口（総数）|人口（男）|人口（女）|
+--------------+----------+----+----------+----------+----+------------+----------+----------+
|00            |全国      |大正|9         |1920      |null|55963053    |28044185  |27918868  |
|01            |北海道    |大正|9         |1920      |null|2359183     |1244322   |1114861   |
|02            |青森県    |大正|9         |1920      |null|756454      |381293    |375161    |
|03            |岩手県    |大正|9         |1920      |null|845540      |421069    |424471    |
|04            |宮城県    |大正|9         |1920      |null|961768      |485309    |476459    |
|05            |秋田県    |大正|9         |1920      |null|898537      |453682    |444855    |
|06            |山形県    |大正|9         |1920      |null|968925      |478328    |490597    |
|07            |福島県    |大正|9         |1920      |null|1362750     |673525    |689225    |
|08            |茨城県    |大正|9         |1920      |null|1350400     |662128    |688272    |
|09            |栃木県    |大正|9         |1920      |null|1046479     |514255    |532224    |
|10            |群馬県    |大正|9         |1920      |null|1052610     |514106    |538504    |
|11            |埼玉県    |大正|9         |1920      |null|1319533     |641161    |678372    |
|12            |千葉県    |大正|9         |1920      |null|1336155     |656968    |679187    |
|13            |東京都    |大正|9         |1920      |null|3699428     |1952989   |1746439   |
|14            |神奈川県  |大正|9         |1920      |null|1323390     |689751    |633639    |
|15            |新潟県    |大正|9         |1920      |null|1776474     |871532    |904942    |
|16            |富山県    |大正|9         |1920      |null|724276      |354775    |369501    |
|17            |石川県    |大正|9         |1920      |null|747360      |364375    |382985    |
|18            |福井県    |大正|9         |1920      |null|599155      |293181    |305974    |
|19            |山梨県    |大正|9         |1920      |null|583453      |290817    |292636    |
+--------------+----------+----+----------+----------+----+------------+----------+----------+
only showing top 20 rows

In [56]:
#日本語のカラム名をローマ字へ変換
from pyspark.sql.types import StructType,StructField,StringType
from pyspark.sql.functions import col

struct = StructType([
    StructField("code",StringType(),False),
    StructField("kenmei",StringType(),False),
    StructField("gengo",StringType(),False),
    StructField("wareki",StringType(),False),
    StructField("seireki",StringType(),False),
    StructField("chu",StringType(),False),
    StructField("sokei",StringType(),False),
    StructField("jinko_male",StringType(),False),
    StructField("jinko_female",StringType(),False)
])

df = spark.read.option("multiLine","true").option("encoding","SJIS") \
.csv("/Users/isomasaki/pyspark_batch/dataset/jinko.csv",header=False,sep=",",inferSchema=False,schema=struct)
df.show()

+--------------+----------+-----+----------+----------+----+------------+----------+------------+
|          code|    kenmei|gengo|    wareki|   seireki| chu|       sokei|jinko_male|jinko_female|
+--------------+----------+-----+----------+----------+----+------------+----------+------------+
|都道府県コード|都道府県名| 元号|和暦（年）|西暦（年）|  注|人口（総数）|人口（男）|  人口（女）|
|            00|      全国| 大正|         9|      1920|null|    55963053|  28044185|    27918868|
|            01|    北海道| 大正|         9|      1920|null|     2359183|   1244322|     1114861|
|            02|    青森県| 大正|         9|      1920|null|      756454|    381293|      375161|
|            03|    岩手県| 大正|         9|      1920|null|      845540|    421069|      424471|
|            04|    宮城県| 大正|         9|      1920|null|      961768|    485309|      476459|
|            05|    秋田県| 大正|         9|      1920|null|      898537|    453682|      444855|
|            06|    山形県| 大正|         9|      1920|null|      968925|    478328|      490597|
|            07|    福島県| 大正|         9|      1920|null|     1362750|    673525|      689225|
|            08|    茨城県| 大正|         9|      1920|null|     1350400|    662128|      688272|
|            09|    栃木県| 大正|         9|      1920|null|     1046479|    514255|      532224|
|            10|    群馬県| 大正|         9|      1920|null|     1052610|    514106|      538504|
|            11|    埼玉県| 大正|         9|      1920|null|     1319533|    641161|      678372|
|            12|    千葉県| 大正|         9|      1920|null|     1336155|    656968|      679187|
|            13|    東京都| 大正|         9|      1920|null|     3699428|   1952989|     1746439|
|            14|  神奈川県| 大正|         9|      1920|null|     1323390|    689751|      633639|
|            15|    新潟県| 大正|         9|      1920|null|     1776474|    871532|      904942|
|            16|    富山県| 大正|         9|      1920|null|      724276|    354775|      369501|
|            17|    石川県| 大正|         9|      1920|null|      747360|    364375|      382985|
|            18|    福井県| 大正|         9|      1920|null|      599155|    293181|      305974|
+--------------+----------+-----+----------+----------+----+------------+----------+------------+
only showing top 20 rows

In [17]:
df.where(df.gengo == "平成").show()

+----+----------------------+-----+------+-------+----+---------+----------+------------+
|code|                kenmei|gengo|wareki|seireki| chu|    sokei|jinko_male|jinko_female|
+----+----------------------+-----+------+-------+----+---------+----------+------------+
|  00|                  全国| 平成|     2|   1990|null|123611167|  60696724|    62914443|
|  0A|          人口集中地区| 平成|     2|   1990|null| 78152452|  38564229|    39588223|
|  0B|人口集中地区以外の地区| 平成|     2|   1990|null| 45458715|  22132495|    23326220|
|  01|                北海道| 平成|     2|   1990|null|  5643647|   2722988|     2920659|
|  02|                青森県| 平成|     2|   1990|null|  1482873|    704758|      778115|
|  03|                岩手県| 平成|     2|   1990|null|  1416928|    680197|      736731|
|  04|                宮城県| 平成|     2|   1990|null|  2248558|   1105103|     1143455|
|  05|                秋田県| 平成|     2|   1990|null|  1227478|    584678|      642800|
|  06|                山形県| 平成|     2|   1990|null|  1258390|    607041|      651349|
|  07|                福島県| 平成|     2|   1990|null|  2104058|   1024354|     1079704|
|  08|                茨城県| 平成|     2|   1990|null|  2845382|   1419117|     1426265|
|  09|                栃木県| 平成|     2|   1990|null|  1935168|    962571|      972597|
|  10|                群馬県| 平成|     2|   1990|null|  1966265|    971704|      994561|
|  11|                埼玉県| 平成|     2|   1990|null|  6405319|   3245868|     3159451|
|  12|                千葉県| 平成|     2|   1990|null|  5555429|   2802774|     2752655|
|  13|                東京都| 平成|     2|   1990|null| 11855563|   5969773|     5885790|
|  14|              神奈川県| 平成|     2|   1990|null|  7980391|   4098147|     3882244|
|  15|                新潟県| 平成|     2|   1990|null|  2474583|   1200376|     1274207|
|  16|                富山県| 平成|     2|   1990|null|  1120161|    538640|      581521|
|  17|                石川県| 平成|     2|   1990|null|  1164628|    562684|      601944|
+----+----------------------+-----+------+-------+----+---------+----------+------------+
only showing top 20 rows

In [18]:
import pyspark.sql.functions as sf
df.where(df.gengo == "平成").groupBy("kenmei")\
    .agg(sf.avg("jinko_male").alias("male_avg"),sf.avg("jinko_female").alias("female_avg")).show()

+----------------------+--------------------+--------------------+
|                kenmei|            male_avg|          female_avg|
+----------------------+--------------------+--------------------+
|人口集中地区以外の地区|2.0976203166666668E7|2.2272045166666668E7|
|                佐賀県|            408192.5|            456442.5|
|                栃木県|   987741.8333333334|            999415.5|
|                京都府|  1268325.3333333333|  1360099.3333333333|
|                香川県|   485871.8333333333|   523763.6666666667|
|                愛媛県|   692188.3333333334|   774376.1666666666|
|                秋田県|   542928.3333333334|            604578.5|
|                広島県|           1387308.5|  1478006.8333333333|
|                宮崎県|            542386.5|            608793.0|
|              鹿児島県|            818506.0|            929134.0|
|                埼玉県|  3492880.3333333335|  3443447.8333333335|
|                三重県|            893167.5|   944959.6666666666|
|                島根県|            356034.5|   388621.6666666667|
|                徳島県|   383399.1666666667|            423152.0|
|                岐阜県|  1009389.1666666666|  1073025.1666666667|
|                新潟県|           1175463.5|  1249345.3333333333|
|                山形県|            583603.5|   627811.6666666666|
|              神奈川県|           4360756.0|           4252978.5|
|                群馬県|   986385.1666666666|  1013610.6666666666|
|                岩手県|   659592.6666666666|   714973.1666666666|
+----------------------+--------------------+--------------------+
only showing top 20 rows

In [19]:
df_after_t = df.where(df.gengo == "平成").groupBy("kenmei")\
    .agg(sf.avg("jinko_male").alias("male_avg"),sf.avg("jinko_female").alias("jinko_female_avg"))\
        .filter(df.kenmei != "人口集中地区以外の地区").sort("male_avg")

In [20]:
df_after_t.show()

+--------+-----------------+-----------------+
|  kenmei|         male_avg| jinko_female_avg|
+--------+-----------------+-----------------+
|  鳥取県|287885.3333333333|314291.3333333333|
|  島根県|         356034.5|388621.6666666667|
|  高知県|372268.1666666667|         418517.0|
|  徳島県|383399.1666666667|         423152.0|
|  福井県|         395512.5|420182.6666666667|
|  佐賀県|         408192.5|         456442.5|
|  山梨県|425777.8333333333|441831.1666666667|
|  香川県|485871.8333333333|523763.6666666667|
|和歌山県|         490624.0|547112.3333333334|
|  富山県|         532857.0|573049.8333333334|
|  宮崎県|         542386.5|         608793.0|
|  秋田県|542928.3333333334|         604578.5|
|  石川県|         566064.0|         604518.5|
|  大分県|571530.6666666666|638773.6666666666|
|  山形県|         583603.5|627811.6666666666|
|  沖縄県|         654622.0|679050.6666666666|
|  岩手県|659592.6666666666|714973.1666666666|
|  滋賀県|         662391.0|         680326.0|
|  奈良県|671178.6666666666|734736.6666666666|
|  青森県|675238.6666666666|751182.1666666666|
+--------+-----------------+-----------------+
only showing top 20 rows

In [21]:
#カラムナーフォーマットへの変換
df_after_t.write.mode("overwrite").parquet("/Users/isomasaki/pyspark_batch/dataset/parquet")

In [22]:
!ls -l /Users/isomasaki/pyspark_batch/dataset/parquet

/Users/isomasaki/.zshenv:4: command not found: goenv
total 8
-rw-r--r--  1 isomasaki  staff     0 Jul 21 09:19 _SUCCESS
-rw-r--r--  1 isomasaki  staff  2083 Jul 21 09:19 part-00000-1f96165f-5412-4cc1-87e3-4200f6fe7bfb-c000.snappy.parquet

In [23]:
#スモールファイル問題に対処するためにファイルをまとめる(ノードの数)
df_after_t.repartition(1).write.mode("overwrite").parquet("/Users/isomasaki/pyspark_batch/dataset/parquet")

In [24]:
!ls -l /Users/isomasaki/pyspark_batch/dataset/parquet

/Users/isomasaki/.zshenv:4: command not found: goenv
total 8
-rw-r--r--  1 isomasaki  staff     0 Jul 21 09:19 _SUCCESS
-rw-r--r--  1 isomasaki  staff  2083 Jul 21 09:19 part-00000-e4f5624d-8fa8-4c24-b8ae-1f49d59da26f-c000.snappy.parquet

In [25]:
df_after_t.repartition(1).write.partitionBy("kenmei").mode("overwrite").parquet("/Users/isomasaki/pyspark_batch/dataset/parquet")

In [26]:
!ls -l /Users/isomasaki/pyspark_batch/dataset/parquet

/Users/isomasaki/.zshenv:4: command not found: goenv
total 0
-rw-r--r--  1 isomasaki  staff    0 Jul 21 09:19 _SUCCESS
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=三重県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=京都府
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=人口集中地区
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=佐賀県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=全国
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=兵庫県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=北海道
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=千葉県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=和歌山県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=埼玉県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=大分県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=大阪府
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=奈良県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=宮城県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=宮崎県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=富山県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=山口県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=山形県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=山梨県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=岐阜県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=岡山県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=岩手県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=島根県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=広島県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=徳島県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=愛媛県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=愛知県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=新潟県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=東京都
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=栃木県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=沖縄県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=滋賀県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=熊本県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=石川県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=神奈川県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=福井県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=福岡県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=福島県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=秋田県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=群馬県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=茨城県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=長崎県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=長野県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=青森県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=静岡県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=香川県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=高知県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=鳥取県
drwxr-xr-x  4 isomasaki  staff  128 Jul 21 09:19 kenmei=鹿児島県

In [27]:
!ls -l /Users/isomasaki/pyspark_batch/dataset/parquet/kenmei=香川県

/Users/isomasaki/.zshenv:4: command not found: goenv
total 8
-rw-r--r--  1 isomasaki  staff  786 Jul 21 09:19 part-00000-af44ab2c-c3e8-4e15-b63d-6ed105633941.c000.snappy.parquet

In [28]:
#香川県のみのデータ
parquet_df = spark.read.parquet("/Users/isomasaki/pyspark_batch/dataset/parquet/kenmei=香川県")
parquet_df.show()

+-----------------+-----------------+
|         male_avg| jinko_female_avg|
+-----------------+-----------------+
|485871.8333333333|523763.6666666667|
+-----------------+-----------------+

In [29]:
spark.sql(
    """
    CREATE EXTERNAL TABLE IF NOT EXISTS default.jinko_avg (male_avg double,jinko_female_avg double)
    PARTITIONED BY (kenmei String)
    STORED AS PARQUET
    LOCATION '/Users/isomasaki/pyspark_batch/dataset/parquet/';
    """
)

DataFrame[]

In [30]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|jinko_avg|      false|
+---------+---------+-----------+

In [31]:
df_result = spark.sql("select * from default.jinko_avg")
df_result.show()
#partitionつきのテーブルでは、最初はテーブルの中身を確認できない

22/07/21 09:19:40 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
22/07/21 09:19:40 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
22/07/21 09:19:40 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/07/21 09:19:40 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
+--------------------+--------------------+------------+
|            male_avg|    jinko_female_avg|      kenmei|
+--------------------+--------------------+------------+
|            893167.5|   944959.6666666666|      三重県|
|  1268325.3333333333|  1360099.3333333333|      京都府|
|4.0840519833333336E7|4.2415789666666664E7|人口集中地区|
|         6.1816723E7|6.4687834833333336E7|        全国|
|           2650310.5|           2861527.0|      兵庫県|
|  2665781.3333333335|  2923371.8333333335|      北海道|
|           2987847.0|           2974638.5|      千葉県|
|            490624.0|   547112.3333333334|    和歌山県|
|  3492880.3333333335|  3443447.8333333335|      埼玉県|
|   571530.6666666666|   638773.6666666666|      大分県|
|   4292675.833333333|           4517115.0|      大阪府|
|   671178.6666666666|   734736.6666666666|      奈良県|
|           1139561.5|           1191255.0|      宮城県|
|            542386.5|            608793.0|      宮崎県|
|            532857.0|   573049.8333333334|      富山県|
|   709497.8333333334|            791301.5|      山口県|
|            583603.5|   627811.6666666666|      山形県|
|   425777.8333333333|   441831.1666666667|      山梨県|
|  1009389.1666666666|  1073025.1666666667|      岐阜県|
|   659592.6666666666|   714973.1666666666|      岩手県|
+--------------------+--------------------+------------+
only showing top 20 rows

In [32]:
#メタデータにパーティションを登録
spark.sql("msck repair table jinko_avg")

DataFrame[]

In [33]:
df_result = spark.sql("select * from default.jinko_avg")
df_result.show()
#partitionつきのテーブルでは、最初はテーブルの中身を確認できない

+--------------------+--------------------+------------+
|            male_avg|    jinko_female_avg|      kenmei|
+--------------------+--------------------+------------+
|            893167.5|   944959.6666666666|      三重県|
|  1268325.3333333333|  1360099.3333333333|      京都府|
|4.0840519833333336E7|4.2415789666666664E7|人口集中地区|
|         6.1816723E7|6.4687834833333336E7|        全国|
|           2650310.5|           2861527.0|      兵庫県|
|  2665781.3333333335|  2923371.8333333335|      北海道|
|           2987847.0|           2974638.5|      千葉県|
|            490624.0|   547112.3333333334|    和歌山県|
|  3492880.3333333335|  3443447.8333333335|      埼玉県|
|   571530.6666666666|   638773.6666666666|      大分県|
|   4292675.833333333|           4517115.0|      大阪府|
|   671178.6666666666|   734736.6666666666|      奈良県|
|           1139561.5|           1191255.0|      宮城県|
|            542386.5|            608793.0|      宮崎県|
|            532857.0|   573049.8333333334|      富山県|
|   709497.8333333334|            791301.5|      山口県|
|            583603.5|   627811.6666666666|      山形県|
|   425777.8333333333|   441831.1666666667|      山梨県|
|  1009389.1666666666|  1073025.1666666667|      岐阜県|
|   659592.6666666666|   714973.1666666666|      岩手県|
+--------------------+--------------------+------------+
only showing top 20 rows

In [34]:
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("chaper2")\
    .config("hive.exec.dynamic.partition","true")\
    .config("hive.exec.dynamic.partition.mode","nonstrict")\
    .config("spark.sql.session.timeZone","JST")\
    .config("spark.ui.enabled","true")\
    .enableHiveSupport()\
    .getOrCreate()

22/07/21 09:19:44 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [35]:
#仮想テーブルの作成
df.createOrReplaceTempView("jinko")

In [36]:
#sparkSQLの実行

spark.sql("select * from jinko").show()

+--------------+----------+-----+----------+----------+----+------------+----------+------------+
|          code|    kenmei|gengo|    wareki|   seireki| chu|       sokei|jinko_male|jinko_female|
+--------------+----------+-----+----------+----------+----+------------+----------+------------+
|都道府県コード|都道府県名| 元号|和暦（年）|西暦（年）|  注|人口（総数）|人口（男）|  人口（女）|
|            00|      全国| 大正|         9|      1920|null|    55963053|  28044185|    27918868|
|            01|    北海道| 大正|         9|      1920|null|     2359183|   1244322|     1114861|
|            02|    青森県| 大正|         9|      1920|null|      756454|    381293|      375161|
|            03|    岩手県| 大正|         9|      1920|null|      845540|    421069|      424471|
|            04|    宮城県| 大正|         9|      1920|null|      961768|    485309|      476459|
|            05|    秋田県| 大正|         9|      1920|null|      898537|    453682|      444855|
|            06|    山形県| 大正|         9|      1920|null|      968925|    478328|      490597|
|            07|    福島県| 大正|         9|      1920|null|     1362750|    673525|      689225|
|            08|    茨城県| 大正|         9|      1920|null|     1350400|    662128|      688272|
|            09|    栃木県| 大正|         9|      1920|null|     1046479|    514255|      532224|
|            10|    群馬県| 大正|         9|      1920|null|     1052610|    514106|      538504|
|            11|    埼玉県| 大正|         9|      1920|null|     1319533|    641161|      678372|
|            12|    千葉県| 大正|         9|      1920|null|     1336155|    656968|      679187|
|            13|    東京都| 大正|         9|      1920|null|     3699428|   1952989|     1746439|
|            14|  神奈川県| 大正|         9|      1920|null|     1323390|    689751|      633639|
|            15|    新潟県| 大正|         9|      1920|null|     1776474|    871532|      904942|
|            16|    富山県| 大正|         9|      1920|null|      724276|    354775|      369501|
|            17|    石川県| 大正|         9|      1920|null|      747360|    364375|      382985|
|            18|    福井県| 大正|         9|      1920|null|      599155|    293181|      305974|
+--------------+----------+-----+----------+----------+----+------------+----------+------------+
only showing top 20 rows

In [37]:
df_after_t_by_sql = spark.sql(
    """
    select 
      kenmei,
      avg(jinko_male) as male_avg,
      avg(jinko_female) as female_avg
    from 
      jinko
    where
      gengo = "平成"
      and kenmei != "人口集中地区以外の地区"
    group by kenmei
    order by male_avg
    """
)

df_after_t_by_sql.show()

+--------+-----------------+-----------------+
|  kenmei|         male_avg|       female_avg|
+--------+-----------------+-----------------+
|  鳥取県|287885.3333333333|314291.3333333333|
|  島根県|         356034.5|388621.6666666667|
|  高知県|372268.1666666667|         418517.0|
|  徳島県|383399.1666666667|         423152.0|
|  福井県|         395512.5|420182.6666666667|
|  佐賀県|         408192.5|         456442.5|
|  山梨県|425777.8333333333|441831.1666666667|
|  香川県|485871.8333333333|523763.6666666667|
|和歌山県|         490624.0|547112.3333333334|
|  富山県|         532857.0|573049.8333333334|
|  宮崎県|         542386.5|         608793.0|
|  秋田県|542928.3333333334|         604578.5|
|  石川県|         566064.0|         604518.5|
|  大分県|571530.6666666666|638773.6666666666|
|  山形県|         583603.5|627811.6666666666|
|  沖縄県|         654622.0|679050.6666666666|
|  岩手県|659592.6666666666|714973.1666666666|
|  滋賀県|         662391.0|         680326.0|
|  奈良県|671178.6666666666|734736.6666666666|
|  青森県|675238.6666666666|751182.1666666666|
+--------+-----------------+-----------------+
only showing top 20 rows

In [38]:
spark.sql(
    """
   insert overwrite table jinko_avg partition(kenmei)
   select 
      avg(jinko_male) as male_avg,
      avg(jinko_female),kenmei as female_avg
    from 
      jinko
    where
      gengo = "平成"
      and kenmei != "人口集中地区以外の地区"
    group by kenmei
    order by male_avg
    """
)

DataFrame[]

In [39]:
spark.sql("select * from jinko_avg").show()

+--------------------+--------------------+------------+
|            male_avg|    jinko_female_avg|      kenmei|
+--------------------+--------------------+------------+
|            893167.5|   944959.6666666666|      三重県|
|  1268325.3333333333|  1360099.3333333333|      京都府|
|4.0840519833333336E7|4.2415789666666664E7|人口集中地区|
|         6.1816723E7|6.4687834833333336E7|        全国|
|           2650310.5|           2861527.0|      兵庫県|
|  2665781.3333333335|  2923371.8333333335|      北海道|
|           2987847.0|           2974638.5|      千葉県|
|            490624.0|   547112.3333333334|    和歌山県|
|  3492880.3333333335|  3443447.8333333335|      埼玉県|
|   571530.6666666666|   638773.6666666666|      大分県|
|   4292675.833333333|           4517115.0|      大阪府|
|   671178.6666666666|   734736.6666666666|      奈良県|
|           1139561.5|           1191255.0|      宮城県|
|            542386.5|            608793.0|      宮崎県|
|            532857.0|   573049.8333333334|      富山県|
|   709497.8333333334|            791301.5|      山口県|
|            583603.5|   627811.6666666666|      山形県|
|   425777.8333333333|   441831.1666666667|      山梨県|
|  1009389.1666666666|  1073025.1666666667|      岐阜県|
|   659592.6666666666|   714973.1666666666|      岩手県|
+--------------------+--------------------+------------+
only showing top 20 rows

In [40]:
#hint文でスモールファイル問題の解決 /** repartition(1) */ 忘れずに
#df2 でキャッシュ
df2 = spark.sql(
   """
   insert overwrite table jinko_avg partition(kenmei)
   select /** repartition(1) */
      avg(jinko_male) as male_avg,
      avg(jinko_female),kenmei as female_avg
    from 
      jinko
    where
      gengo = "平成"
      and kenmei != "人口集中地区以外の地区"
    group by kenmei
    order by male_avg
    """
)

In [41]:
#本番環境を想定したpyspark 昭和
spark.sql("select * from jinko_avg").show()

+--------------------+--------------------+------------+
|            male_avg|    jinko_female_avg|      kenmei|
+--------------------+--------------------+------------+
|            893167.5|   944959.6666666666|      三重県|
|  1268325.3333333333|  1360099.3333333333|      京都府|
|4.0840519833333336E7|4.2415789666666664E7|人口集中地区|
|         6.1816723E7|6.4687834833333336E7|        全国|
|           2650310.5|           2861527.0|      兵庫県|
|  2665781.3333333335|  2923371.8333333335|      北海道|
|           2987847.0|           2974638.5|      千葉県|
|            490624.0|   547112.3333333334|    和歌山県|
|  3492880.3333333335|  3443447.8333333335|      埼玉県|
|   571530.6666666666|   638773.6666666666|      大分県|
|   4292675.833333333|           4517115.0|      大阪府|
|   671178.6666666666|   734736.6666666666|      奈良県|
|           1139561.5|           1191255.0|      宮城県|
|            542386.5|            608793.0|      宮崎県|
|            532857.0|   573049.8333333334|      富山県|
|   709497.8333333334|            791301.5|      山口県|
|            583603.5|   627811.6666666666|      山形県|
|   425777.8333333333|   441831.1666666667|      山梨県|
|  1009389.1666666666|  1073025.1666666667|      岐阜県|
|   659592.6666666666|   714973.1666666666|      岩手県|
+--------------------+--------------------+------------+
only showing top 20 rows

In [ ]:
#localhost:4040から

In [43]:
df2.cache()
df2.is_cached

22/07/21 09:36:12 WARN CacheManager: Asked to cache already cached data.

True

In [48]:
#テーブルをキャッシュ
spark.catalog.cacheTable("jinko_avg")
spark.catalog.isCached("jinko_avg")

True

In [54]:
#メタデータについて mysqlにmetadatastoreを作成
df.show()

+--------------+----------+----+----------+----------+----+------------+----------+----------+
|都道府県コード|都道府県名|元号|和暦（年）|西暦（年）|  注|人口（総数）|人口（男）|人口（女）|
+--------------+----------+----+----------+----------+----+------------+----------+----------+
|            00|      全国|大正|         9|      1920|null|    55963053|  28044185|  27918868|
|            01|    北海道|大正|         9|      1920|null|     2359183|   1244322|   1114861|
|            02|    青森県|大正|         9|      1920|null|      756454|    381293|    375161|
|            03|    岩手県|大正|         9|      1920|null|      845540|    421069|    424471|
|            04|    宮城県|大正|         9|      1920|null|      961768|    485309|    476459|
|            05|    秋田県|大正|         9|      1920|null|      898537|    453682|    444855|
|            06|    山形県|大正|         9|      1920|null|      968925|    478328|    490597|
|            07|    福島県|大正|         9|      1920|null|     1362750|    673525|    689225|
|            08|    茨城県|大正|         9|      1920|null|     1350400|    662128|    688272|
|            09|    栃木県|大正|         9|      1920|null|     1046479|    514255|    532224|
|            10|    群馬県|大正|         9|      1920|null|     1052610|    514106|    538504|
|            11|    埼玉県|大正|         9|      1920|null|     1319533|    641161|    678372|
|            12|    千葉県|大正|         9|      1920|null|     1336155|    656968|    679187|
|            13|    東京都|大正|         9|      1920|null|     3699428|   1952989|   1746439|
|            14|  神奈川県|大正|         9|      1920|null|     1323390|    689751|    633639|
|            15|    新潟県|大正|         9|      1920|null|     1776474|    871532|    904942|
|            16|    富山県|大正|         9|      1920|null|      724276|    354775|    369501|
|            17|    石川県|大正|         9|      1920|null|      747360|    364375|    382985|
|            18|    福井県|大正|         9|      1920|null|      599155|    293181|    305974|
|            19|    山梨県|大正|         9|      1920|null|      583453|    290817|    292636|
+--------------+----------+----+----------+----------+----+------------+----------+----------+
only showing top 20 rows

In [59]:
#日本語のカラム名をローマ字へ変換
from pyspark.sql.types import StructType,StructField,StringType
from pyspark.sql.functions import col

struct = StructType([
    StructField("code",StringType(),False),
    StructField("kenmei",StringType(),False),
    StructField("gengo",StringType(),False),
    StructField("wareki",StringType(),False),
    StructField("seireki",StringType(),False),
    StructField("chu",StringType(),False),
    StructField("sokei",StringType(),False),
    StructField("jinko_male",StringType(),False),
    StructField("jinko_female",StringType(),False)
])

df = spark.read.option("multiLine","true").option("encoding","SJIS") \
.csv("/Users/isomasaki/pyspark_batch/dataset/jinko.csv",header=False,sep=",",inferSchema=False,schema=struct)

data_t = df.filter("code!='都道府県コード'").filter("gengo='平成'")
data_t.show()

+----+----------------------+-----+------+-------+----+---------+----------+------------+
|code|                kenmei|gengo|wareki|seireki| chu|    sokei|jinko_male|jinko_female|
+----+----------------------+-----+------+-------+----+---------+----------+------------+
|  00|                  全国| 平成|     2|   1990|null|123611167|  60696724|    62914443|
|  0A|          人口集中地区| 平成|     2|   1990|null| 78152452|  38564229|    39588223|
|  0B|人口集中地区以外の地区| 平成|     2|   1990|null| 45458715|  22132495|    23326220|
|  01|                北海道| 平成|     2|   1990|null|  5643647|   2722988|     2920659|
|  02|                青森県| 平成|     2|   1990|null|  1482873|    704758|      778115|
|  03|                岩手県| 平成|     2|   1990|null|  1416928|    680197|      736731|
|  04|                宮城県| 平成|     2|   1990|null|  2248558|   1105103|     1143455|
|  05|                秋田県| 平成|     2|   1990|null|  1227478|    584678|      642800|
|  06|                山形県| 平成|     2|   1990|null|  1258390|    607041|      651349|
|  07|                福島県| 平成|     2|   1990|null|  2104058|   1024354|     1079704|
|  08|                茨城県| 平成|     2|   1990|null|  2845382|   1419117|     1426265|
|  09|                栃木県| 平成|     2|   1990|null|  1935168|    962571|      972597|
|  10|                群馬県| 平成|     2|   1990|null|  1966265|    971704|      994561|
|  11|                埼玉県| 平成|     2|   1990|null|  6405319|   3245868|     3159451|
|  12|                千葉県| 平成|     2|   1990|null|  5555429|   2802774|     2752655|
|  13|                東京都| 平成|     2|   1990|null| 11855563|   5969773|     5885790|
|  14|              神奈川県| 平成|     2|   1990|null|  7980391|   4098147|     3882244|
|  15|                新潟県| 平成|     2|   1990|null|  2474583|   1200376|     1274207|
|  16|                富山県| 平成|     2|   1990|null|  1120161|    538640|      581521|
|  17|                石川県| 平成|     2|   1990|null|  1164628|    562684|      601944|
+----+----------------------+-----+------+-------+----+---------+----------+------------+
only showing top 20 rows

In [62]:
spark.sql(
    """
    create database if not exists data_management_c
    """
)

22/07/22 09:19:58 WARN ObjectStore: Failed to get database data_management_c, returning NoSuchObjectException
22/07/22 09:19:58 WARN ObjectStore: Failed to get database data_management_c, returning NoSuchObjectException
22/07/22 09:19:58 WARN ObjectStore: Failed to get database data_management_c, returning NoSuchObjectException

DataFrame[]

In [65]:
spark.sql(
    """
    create table if not exists data_management_c.jinko_t (
        code String,
        gengo String,
        wareki String,
        seireki String,
        chu String,
        sokei String,
        jinko_male String,
        jinko_female String
    )
    PARTITIONED BY (kenmei String)
    STORED AS PARQUET
    LOCATION '/Users/isomasaki/pyspark_datamanagement_metadata/dataset/data_management_c.db/jinko_t';
    """
)

22/07/22 09:46:19 ERROR ConnectionHandle: Database access problem. Killing off this connection and all remaining connections in the connection pool. SQL State = 08S01
22/07/22 09:46:19 WARN ObjectStore: Falling back to ORM path due to direct SQL failure (this is not an error): Communications link failure

The last packet successfully received from the server was 1,581,243 milliseconds ago. The last packet sent successfully to the server was 1,581,243 milliseconds ago. at org.datanucleus.api.jdo.NucleusJDOHelper.getJDOExceptionForNucleusException(NucleusJDOHelper.java:543) at org.datanucleus.api.jdo.JDOPersistenceManager.getDataStoreConnection(JDOPersistenceManager.java:2284) at org.apache.hadoop.hive.metastore.MetaStoreDirectSql.executeNoResult(MetaStoreDirectSql.java:252) at org.apache.hadoop.hive.metastore.MetaStoreDirectSql.prepareTxn(MetaStoreDirectSql.java:1783) at org.apache.hadoop.hive.metastore.ObjectStore$GetHelper.run(ObjectStore.java:2964) at org.apache.hadoop.hive.metastore.ObjectStore.getDatabaseInternal(ObjectStore.java:740) at org.apache.hadoop.hive.metastore.ObjectStore.getDatabase(ObjectStore.java:714) at jdk.internal.reflect.GeneratedMethodAccessor93.invoke(Unknown Source) at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) at java.base/java.lang.reflect.Method.invoke(Method.java:566) at org.apache.hadoop.hive.metastore.RawStoreProxy.invoke(RawStoreProxy.java:101) at com.sun.proxy.$Proxy35.getDatabase(Unknown Source) at org.apache.hadoop.hive.metastore.HiveMetaStore$HMSHandler.get_database_core(HiveMetaStore.java:989) at org.apache.hadoop.hive.metastore.HiveMetaStore$HMSHandler.get_database(HiveMetaStore.java:963) at jdk.internal.reflect.GeneratedMethodAccessor97.invoke(Unknown Source) at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) at java.base/java.lang.reflect.Method.invoke(Method.java:566) at org.apache.hadoop.hive.metastore.RetryingHMSHandler.invokeInternal(RetryingHMSHandler.java:148) at org.apache.hadoop.hive.metastore.RetryingHMSHandler.invoke(RetryingHMSHandler.java:107) at com.sun.proxy.$Proxy36.get_database(Unknown Source) at org.apache.hadoop.hive.metastore.HiveMetaStoreClient.getDatabase(HiveMetaStoreClient.java:1288) at jdk.internal.reflect.GeneratedMethodAccessor96.invoke(Unknown Source) at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) at java.base/java.lang.reflect.Method.invoke(Method.java:566) at org.apache.hadoop.hive.metastore.RetryingMetaStoreClient.invoke(RetryingMetaStoreClient.java:173) at com.sun.proxy.$Proxy37.getDatabase(Unknown Source) at org.apache.hadoop.hive.ql.metadata.Hive.getDatabase(Hive.java:1563) at org.apache.hadoop.hive.ql.metadata.Hive.databaseExists(Hive.java:1552) at org.apache.spark.sql.hive.client.Shim_v0_12.databaseExists(HiveShim.scala:609) at org.apache.spark.sql.hive.client.HiveClientImpl.$anonfun$databaseExists$1(HiveClientImpl.scala:394) at scala.runtime.java8.JFunction0$mcZ$sp.apply(JFunction0$mcZ$sp.java:23) at org.apache.spark.sql.hive.client.HiveClientImpl.$anonfun$withHiveState$1(HiveClientImpl.scala:294) at org.apache.spark.sql.hive.client.HiveClientImpl.liftedTree1$1(HiveClientImpl.scala:225) at org.apache.spark.sql.hive.client.HiveClientImpl.retryLocked(HiveClientImpl.scala:224) at org.apache.spark.sql.hive.client.HiveClientImpl.withHiveState(HiveClientImpl.scala:274) at org.apache.spark.sql.hive.client.HiveClientImpl.databaseExists(HiveClientImpl.scala:394) at org.apache.spark.sql.hive.HiveExternalCatalog.$anonfun$databaseExists$1(HiveExternalCatalog.scala:223) at scala.runtime.java8.JFunction0$mcZ$sp.apply(JFunction0$mcZ$sp.java:23) at org.apache.spark.sql.hive.HiveExternalCatalog.withClient(HiveExternalCatalog.scala:101) at org.apache.spark.sql.hive.HiveExternalCatalog.databaseExists(HiveExternalCatalog.scala:223) at org.apache.spark.sql.catalyst.catalog.ExternalCatalogWithListener.databaseExists(ExternalCatalogWithListener.scala:69) at org.apache.spark.sql.catalyst.catalog.SessionCatalog.databaseExists(SessionCatalog.scala:290) at org.apache.spark.sql.catalyst.catalog.SessionCatalog.requireDbExists(SessionCatalog.scala:218) at org.apache.spark.sql.catalyst.catalog.SessionCatalog.createTable(SessionCatalog.scala:364) at org.apache.spark.sql.execution.command.CreateTableCommand.run(tables.scala:169) at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75) at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73) at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84) at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98) at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109) at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169) at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95) at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779) at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64) at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98) at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94) at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:584) at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:176) at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:584) at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30) at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267) at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263) at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30) at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30) at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:560) at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94) at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81) at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79) at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220) at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100) at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779) at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97) at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:622) at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779) at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:617) at jdk.internal.reflect.GeneratedMethodAccessor125.invoke(Unknown Source) at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) at java.base/java.lang.reflect.Method.invoke(Method.java:566) at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244) at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357) at py4j.Gateway.invoke(Gateway.java:282) at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132) at py4j.commands.CallCommand.execute(CallCommand.java:79) at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182) at py4j.ClientServerConnection.run(ClientServerConnection.java:106) at java.base/java.lang.Thread.run(Thread.java:834);
 Caused by: Communications link failure

The last packet successfully received from the server was 1,581,243 milliseconds ago. The last packet sent successfully to the server was 1,581,243 milliseconds ago. at com.mysql.cj.jdbc.exceptions.SQLError.createCommunicationsException(SQLError.java:174) at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:64) at com.mysql.cj.jdbc.ConnectionImpl.isReadOnly(ConnectionImpl.java:1402) at com.mysql.cj.jdbc.ConnectionImpl.isReadOnly(ConnectionImpl.java:1387) at com.jolbox.bonecp.ConnectionHandle.isReadOnly(ConnectionHandle.java:867) at org.datanucleus.store.rdbms.ConnectionFactoryImpl$ManagedConnectionImpl.getConnection(ConnectionFactoryImpl.java:406) at org.datanucleus.store.rdbms.ConnectionFactoryImpl$ManagedConnectionImpl.getXAResource(ConnectionFactoryImpl.java:361) at org.datanucleus.store.connection.ConnectionManagerImpl.allocateConnection(ConnectionManagerImpl.java:316) at org.datanucleus.store.connection.AbstractConnectionFactory.getConnection(AbstractConnectionFactory.java:84) at org.datanucleus.store.rdbms.RDBMSStoreManager.getNucleusConnection(RDBMSStoreManager.java:1351) at org.datanucleus.api.jdo.JDOPersistenceManager.getDataStoreConnection(JDOPersistenceManager.java:2272);
 Caused by: Communications link failure

The last packet successfully received from the server was 1,581,243 milliseconds ago. The last packet sent successfully to the server was 1,581,243 milliseconds ago. at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method) at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62) at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45) at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490) at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:61) at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:105) at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:151) at com.mysql.cj.exceptions.ExceptionFactory.createCommunicationsException(ExceptionFactory.java:167) at com.mysql.cj.protocol.a.NativeProtocol.send(NativeProtocol.java:628) at com.mysql.cj.protocol.a.NativeProtocol.sendCommand(NativeProtocol.java:683) at com.mysql.cj.protocol.a.NativeProtocol.sendCommand(NativeProtocol.java:155) at com.mysql.cj.NativeSession.queryServerVariable(NativeSession.java:597) at com.mysql.cj.jdbc.ConnectionImpl.isReadOnly(ConnectionImpl.java:1394);
 Caused by: Broken pipe (Write failed) at java.base/java.net.SocketOutputStream.socketWrite0(Native Method) at java.base/java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:110) at java.base/java.net.SocketOutputStream.write(SocketOutputStream.java:150) at java.base/sun.security.ssl.SSLSocketOutputRecord.deliver(SSLSocketOutputRecord.java:346) at java.base/sun.security.ssl.SSLSocketImpl$AppOutputStream.write(SSLSocketImpl.java:1208) at java.base/java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:81) at java.base/java.io.BufferedOutputStream.flush(BufferedOutputStream.java:142) at com.mysql.cj.protocol.a.SimplePacketSender.send(SimplePacketSender.java:55) at com.mysql.cj.protocol.a.TimeTrackingPacketSender.send(TimeTrackingPacketSender.java:50) at com.mysql.cj.protocol.a.NativeProtocol.send(NativeProtocol.java:619)
22/07/22 09:46:20 ERROR ConnectionHandle: Database access problem. Killing off this connection and all remaining connections in the connection pool. SQL State = 08S01

DataFrame[]

In [66]:
spark.sql(
    """
    create table if not exists data_management_c.jinko_code (code String , kenmei String)
    row format delimited
    fields terminated by ','
    lines terminated by '\n'
    LOCATION '/Users/isomasaki/pyspark_datamanagement_metadata/dataset/data_management_c.db/jinko_code';
    """
)

DataFrame[]

In [67]:
spark.sql("show tables in data_management_c").show(truncate=False)

+-----------------+----------+-----------+
|namespace        |tableName |isTemporary|
+-----------------+----------+-----------+
|data_management_c|jinko_code|false      |
|data_management_c|jinko_t   |false      |
|                 |jinko     |true       |
+-----------------+----------+-----------+

In [68]:
#テーブル定義
spark.sql("show create table data_management_c.jinko_t").show(truncate=False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|createtab_stmt                                                                                                                                                                                                                                                                                                                                                                                                             |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|CREATE TABLE data_management_c.jinko_t (\n  code STRING,\n  gengo STRING,\n  wareki STRING,\n  seireki STRING,\n  chu STRING,\n  sokei STRING,\n  jinko_male STRING,\n  jinko_female STRING,\n  kenmei STRING)\nUSING parquet\nPARTITIONED BY (kenmei)\nLOCATION 'file:/Users/isomasaki/pyspark_datamanagement_metadata/dataset/data_management_c.db/jinko_t'\nTBLPROPERTIES (\n  'transient_lastDdlTime' = '1658450780')\n|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [69]:
#dfからテーブルにデータを登録
data_t.createOrReplaceTempView("jinko_table_tmp") 
#tmpテーブルからテーブルへ移動
spark.sql(""" 
          insert overwrite table data_management_c.jinko_t partition(kenmei)
          /** repartition(1) */
          select 
            code,
            gengo,
            wareki,
            seireki,
            chu,
            sokei,
            jinko_male,
            jinko_female,
            kenmei
          from 
            jinko_table_tmp
          """)

22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2357
22/07/23 14:11:02 WARN log: Updated size to 2344
22/07/23 14:11:02 WARN log: Updated size to 2378
22/07/23 14:11:02 WARN log: Updated size to 2348
22/07/23 14:11:02 WARN log: Updated size to 2349
22/07/23 14:11:02 WARN log: Updated size to 2334
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2334
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2343
22/07/23 14:11:02 WARN log: Updated size to 2356
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2350
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2353
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2340
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2342
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2348
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2339
22/07/23 14:11:02 WARN log: Updated size to 2376
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2360
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2336
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2334
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2342
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2352
22/07/23 14:11:02 WARN log: Updated size to 2373
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2356
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2338
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2341
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2407
22/07/23 14:11:02 WARN log: Updated size to 2361
22/07/23 14:11:02 WARN log: Updated size to 2362
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2341
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2358
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2362
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2347
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2347
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2375
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2349
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2341
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2341
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2353
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2343
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2356
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2350
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2358
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2396
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2405
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2330
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2336
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2342
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2375
22/07/23 14:11:02 WARN log: Updated size to 2347
22/07/23 14:11:02 WARN log: Updating partition stats fast for: jinko_t
22/07/23 14:11:02 WARN log: Updated size to 2336

DataFrame[]

In [70]:
spark.sql("""
          select
            kenmei,
            count(1) as cnt
          from 
            data_management_c.jinko_t
          group by kenmei
          """).show()

+----------------------+---+
|                kenmei|cnt|
+----------------------+---+
|人口集中地区以外の地区|  6|
|              神奈川県|  6|
|          人口集中地区|  6|
|                  全国|  6|
|                愛知県|  6|
|                東京都|  6|
|                千葉県|  6|
|                埼玉県|  6|
|                長野県|  6|
|                大阪府|  6|
|                静岡県|  6|
|                宮城県|  6|
|                北海道|  6|
|                福岡県|  6|
|                栃木県|  6|
|                京都府|  6|
|                秋田県|  6|
|                新潟県|  6|
|                兵庫県|  6|
|                茨城県|  6|
+----------------------+---+
only showing top 20 rows

In [79]:
#codeにデータを登録

data_t.createOrReplaceTempView("jinko_code_tmp")
spark.sql("""
          insert overwrite table data_management_c.jinko_code
          /** repartition(1) */
          select
            case kenmei
              when "人口集中地区" then "elsecode"
              when "全国" then "allct"
              when "神奈川県" then "AA"
            else code 
            end as code,
            kenmei
          from 
            jinko_code_tmp
          """)

DataFrame[]

In [80]:
spark.sql("""
          select
            *
          from 
            data_management_c.jinko_code
          """).show()

+--------+----------------------+
|    code|                kenmei|
+--------+----------------------+
|   allct|                  全国|
|elsecode|          人口集中地区|
|      0B|人口集中地区以外の地区|
|      01|                北海道|
|      02|                青森県|
|      03|                岩手県|
|      04|                宮城県|
|      05|                秋田県|
|      06|                山形県|
|      07|                福島県|
|      08|                茨城県|
|      09|                栃木県|
|      10|                群馬県|
|      11|                埼玉県|
|      12|                千葉県|
|      13|                東京都|
|      AA|              神奈川県|
|      15|                新潟県|
|      16|                富山県|
|      17|                石川県|
+--------+----------------------+
only showing top 20 rows

In [81]:
spark.stop()
spark.sparkContext.stop()

In [ ]:
#ビジネスメタデータ(カラム名確認)
#select co.COLUMN_NAME from TBLS as t inner join SDS as s on t.SD = s.SD_ID inner join CDS as c on s.CD=c.CD_ID inner join COLUMNS_V2 as co on c.CD_ID = co.CD_ID where TBL_NAME = "jinko_t";

In [ ]:
--メタデータを保存するためのデータベースとテーブル
create database if not exists metadata;
use metadata;
create table if not exists metadatas (
    database_name varchar(255),
    table_name varchar(255),
    table_definition varchar(255),
    sammary varchar(255),
    row_num varchar(255),
    selectivity varchar(255),
    consistency_flag varchar(255),
    frequency_flag varchar(255),
    primary key (database_name,table_name)
);

In [82]:
import findspark
findspark.init("/opt/homebrew/opt/apache-spark/libexec/")

In [83]:
#pysparkに必要なライブラリを読み込む

from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession

#spark sessionの作成
# spark.ui.enabled trueとするとSparkのGUI画面を確認することができます
# spark.eventLog.enabled true　とすると　GUIで実行ログを確認することができます
# GUIなどの確認は最後のセクションで説明を行います。
spark = SparkSession.builder \
    .appName("chapter2") \
    .config("hive.exec.dynamic.partition", "true") \
    .config("hive.exec.dynamic.partition.mode", "nonstrict") \
    .config("spark.sql.session.timeZone", "JST") \
    .config("spark.ui.enabled","true") \
    .config("spark.eventLog.enabled","true") \
    .enableHiveSupport() \
    .getOrCreate()

In [96]:
spark.sql("""
          create database if not exists metadata_tmp
          """)
spark.sql("""
           create table if not exists metadata_tmp.sample_metadata(
    database_name String,
    table_name String,
    table_definition String,
    sammary String)
STORED AS PARQUET
LOCATION "/Users/isomasaki/pyspark_datamanagement_metadata/dataset/metadata_tmp.db/sample_metadata";
          """)

DataFrame[]

In [ ]:
create table if not exists metadata_tmp.sample_metadata(
    database_name String,
    table_name String,
    table_definition String,
    sammary String,
    row_num String,
    selectivity String,
    consistency_flag String,
    frequency_flag String)
STORED AS PARQUET
LOCATION "/Users/isomasaki/pyspark_datamanagement_metadata/dataset/metadata_tmp.db/sample_metadata";

In [93]:
spark.sql("show tables in metadata_tmp").show()

+------------+---------------+-----------+
|   namespace|      tableName|isTemporary|
+------------+---------------+-----------+
|metadata_tmp|sample_metadata|      false|
|            |     sample_tmp|       true|
+------------+---------------+-----------+

In [87]:
from pyspark.sql.types import StructType,StructField,StringType,BooleanType
from pyspark.sql.functions import when

#spark経由でテーブル定義を取得
table_def = spark.sql("""
                      show create table data_management_c.jinko_t
                      """).collect()[0].asDict()["createtab_stmt"]

struct = StructType([StructField("database_name",StringType(),True),
                     StructField("table_name",StringType(),True),
                     StructField("table_definition",StringType(),True),
                     StructField("sammary",StringType(),True),
                     StructField("row_num",StringType(),True),
                     StructField("selectivity",StringType(),True),
                     StructField("consistency_flag",StringType(),True),
                     StructField("frequency_flag",StringType(),True)
                     ])
df_meta = spark.createDataFrame([(None,None,None,None,None,None,None,None)],struct)

In [89]:
df_meta2 = df_meta.withColumn("database_name",when(df_meta.database_name.isNull(),"data_management_c").otherwise(df_meta.database_name))
df_meta2 = df_meta2.withColumn("table_name",when(df_meta.table_name.isNull(),"jinko_t").otherwise(df_meta.table_name))
df_meta2 = df_meta2.withColumn("table_definition",when(df_meta.table_definition.isNull(),table_def).otherwise(df_meta.table_definition))
df_meta2 = df_meta2.withColumn("sammary",when(df_meta.sammary.isNull(),"一旦説明は空").otherwise(df_meta.sammary))

df_meta2.show(truncate=False)

+-----------------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------+-----------+----------------+--------------+
|database_name    |table_name|table_definition                                                                                                                                                                                                                                                                                                                                                                                                           |sammary     |row_num|selectivity|consistency_flag|frequency_flag|
+-----------------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------+-----------+----------------+--------------+
|data_management_c|jinko_t   |CREATE TABLE data_management_c.jinko_t (\n  code STRING,\n  gengo STRING,\n  wareki STRING,\n  seireki STRING,\n  chu STRING,\n  sokei STRING,\n  jinko_male STRING,\n  jinko_female STRING,\n  kenmei STRING)\nUSING parquet\nPARTITIONED BY (kenmei)\nLOCATION 'file:/Users/isomasaki/pyspark_datamanagement_metadata/dataset/data_management_c.db/jinko_t'\nTBLPROPERTIES (\n  'transient_lastDdlTime' = '1658450780')\n|一旦説明は空|null   |null       |null            |null          |
+-----------------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------+-----------+----------------+--------------+

In [97]:
df_meta2.createOrReplaceTempView("sample_tmp")
spark.sql("""
          insert overwrite table metadata_tmp.sample_metadata
          select /** repartition(1) */
            *
          from 
            sample_tmp
          """)

DataFrame[]

In [98]:
spark.sql("""
          select 
            *
          from 
            metadata_tmp.sample_metadata
          """).show()

+-----------------+----------+--------------------+------------+-------+-----------+----------------+--------------+
|    database_name|table_name|    table_definition|     sammary|row_num|selectivity|consistency_flag|frequency_flag|
+-----------------+----------+--------------------+------------+-------+-----------+----------------+--------------+
|data_management_c|   jinko_t|CREATE TABLE data...|一旦説明は空|   null|       null|            null|          null|
+-----------------+----------+--------------------+------------+-------+-----------+----------------+--------------+

In [99]:
spark.stop()
spark.sparkContext.stop()